@model BizApp.Models.Run

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Run</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.started_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.started_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.finished_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.finished_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.model_version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.model_version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.label_policy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.label_policy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.run_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
